/*
CSS USED FOR HOME PAGE
*/

/* Simple Slider CSS  ---------------------------------------------------------------- */

.simple-slider .swiper-slide {
  height:500px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
  width:50px;
  margin-left:20px;
  margin-right:20px;
}

@media (max-width:767px) {
  .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
    display:none;
  }
}

@media (max-width:767px) {
  .simple-slider .swiper-slide {
    height:360px;
  }
}



/* 3 Bottom Buttons CSS ----------------------------------------------------------------*/

#scrollDowns {
  /* padding-top:25px; */
  height:10vh;
  margin-left:0;
  margin-right:0px;
}

@media (max-width:767px) {
  #scrollDowns {
    position: sticky;
    bottom: 0px;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    background-color: ghostwhite;
  }
}



/* Parallax CSS ----------------------------------------------------------------*/

.parallax1 {
    background-image: url("/assets/img/breakfast.jpg");
    height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url("/assets/img/vegetables1.jpg");
    height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    background-image: url("/assets/img/vegetables2.jpg");
    height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* TEXT CSS ----------------------------------------------------------------*/

h2 {
  color:rgb(49, 52, 55);
  font-weight:bold;
  margin-bottom:20px;
  padding-top:30px;
  font-family:sans-serif;
  }


@media (max-width:767px) {
   h2 {
    margin-bottom:10px;
    padding-top:25px;
    font-size:24px;
  }
}
